@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #0a060f;
    --foreground: #020005;
    --fontColor: #faf8fc;
    --primary: #39142a;
    --secundary: #491787;
    --accent: #eb478e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #f4f0f9;
        --foreground: #f7f7f7;
        --fontColor: #050307;
        --primary: #ebc5dc;
        --secundary: #6f3b92;
        --accent: #e48199;
    }
}

*::-webkit-scrollbar-track {
    border-radius: 0 50em 0 50em;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    border-radius: 20px;
}

*::-webkit-scrollbar {
    width: 0.75em;
    border-radius: 20px;
    background: var(--background);
    box-shadow: 0 0 18px #23232325;
}

body {
    overflow: hidden;
    box-sizing: content-box;
    background: var(--background);
    color: var(--fontColor);
    font-family: 'Montserrat';
}
